<header>
  <div class="nav">
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
  </div>
  <h1 class="title">{{pageTitle}}</h1>
</header>
