<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Some Website</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />

</head>

<body>
  {{> header}}
  <p>This website was created through the exercise from <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/learn/v4/content">The
      Complete Node.js Developer Course (2nd edition)</a> by Andrew Mead at Udemy. The exercise teaches how to create a server
    using Express.js as well as use Handlebars for templating to render html.</p>
  {{> footer}}
</body>

</html>
