<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Some Website</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />

</head>

<body>
  {{> header}}
  <p>{{screamIt welcomeMessage}}</p>
  <p>This site was created using Node.js, Express.js, and <a href="http://handlebarsjs.com/">Handlebars</a>!</p>
  <h3>Check the Weather!</h3>
  <form>
    Location:
    <input type="text" name="location" value="78613" />
    <br>
    <br>
    <input type="submit" value="Submit" </form> {{> footer}}

</body>

</html>
